<section class="checkout-page" *ngIf="user">
  <div class="card" *ngIf="!hasCustomer">
    <div class="card-body">
      <p class="mb-3">You must provide your personal info to confirm the order.</p>
      <app-customer-form></app-customer-form>
    </div>
  </div>

  <ng-container *ngIf="hasCustomer">
    <div class="alert alert-danger" *ngIf="!customer">Unable to fetch customer data.</div>

    <div class="row g-3" *ngIf="customer">
      <div class="col-lg-8 d-grid gap-3">
        <div class="card">
          <div class="card-body">
            <h5>Select your delivery address</h5>
            <div class="row g-2">
              <div class="col-md-6" *ngFor="let address of customer.addresses; let i = index">
                <button
                  class="btn btn-outline-secondary text-start w-100"
                  type="button"
                  [ngClass]="selectedAddressIdx == i ? 'selected-card' : ''"
                  (click)="onChangeAddressIdx(i)"
                >
                  Country: {{ address.country }}<br />
                  City: {{ address.postCode }}, {{ address.city }}<br />
                  Street: {{ address.street }} {{ address.streetNumber }}
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5>Select your contact info</h5>
            <div class="row g-2">
              <div class="col-md-6" *ngFor="let contactInfo of customer.contactInfos; let i = index">
                <button
                  class="btn btn-outline-secondary text-start w-100"
                  type="button"
                  [ngClass]="selectedContactInfoIdx == i ? 'selected-card' : ''"
                  (click)="onChangeContactInfoIdx(i)"
                >
                  Email: {{ contactInfo.email }}<br />
                  Phone number: {{ contactInfo.phoneNumber }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5>Order details</h5>
            <p><strong>Price:</strong> {{ totalPrice | currency: currency }}</p>
            <p class="mb-1"><strong>Products:</strong></p>
            <ul class="list-group list-group-flush mb-3">
              <li class="list-group-item" *ngFor="let product of cart?.products">
                {{ product?.product?.name }} - {{ product?.product?.price?.value | currency: currency }}
              </li>
            </ul>
            <button
              class="btn btn-primary"
              [disabled]="selectedContactInfoIdx == -1 || selectedAddressIdx == -1"
              (click)="submitOrder()"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</section>
